.login {
    width: 500px;
    margin: 0 auto;

    h3,h4 {
        text-align: center;
    }

    &__form {
        margin-top: 3rem;

        &__input {
            border-bottom: 1px solid black;
            width: 100%;
            height: 2.875rem;
            position: relative;

            input {
                border: 0;
                width: 100%;
                background-color: transparent;
                outline: none;
                height: 100%;
            }
        }

        &__input > input:not(:placeholder-shown) + &__label,
        &__input > input:focus + &__label {
            top: 0;
            color: #999;
        }

        &__input > input:not(:placeholder-shown) ~ .invalid-feedback-input {
            display: block;
            color: red;
            font-weight: 600;
        }

        &__label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            user-select: none;
            pointer-events: none;
            left: 0;
            transition: 0.25s ease;
        }

        &__function {
            @include flex(center, flex-start);
            flex-direction: column;
            margin-top: 2rem;

            a {
                color: #757575;
                text-decoration: underline;
            }

            a:hover {
                color: #474747;
                font-weight: 500;
            }

            button {
                margin-top: 1rem;
                border: none;
                border-radius: 50px;
                padding: 1.3rem 3rem;
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
    }

    &__oauth2 {
        margin-top: 1rem;

        &__content {
            @include flex(center, flex-start);
            flex-direction: column;

            &__button {
                @include flex(center, space-between);
                margin: 1rem 0;
                width: 20rem;
                height: 3rem;
                padding-left: 0.5rem;
                border-radius: 4px;
                background-color: #F2F3F5;
                transition: background-color 0.2s linear;

                &.google {

                    img {
                        height: 30px;
                    }
                }

                &.facebook {

                    img {
                        height: 22px;
                    }
                }

                &:hover {
                    background-color: #DCDFE4;
                    color: black;
                }
            }
        }
    }

    .invalid-feedback-input {
        display: none;
    }
}